@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        This website is the official website of T series group.
    </p>

    <p>
        Our main goal is to searve client well and satisfy their demand.
    </p>

    <p>
        Anyone can purchase latest model of any mobile brand from this website online. So, there is no need to go to the shopkeeper. Just choose and purchase
        phone and we will delivery your phone to your home within 7 days.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>