@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>01726228998</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>01677073729</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">miltan17.ruet@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">udoyhossenmiltan@gmail.com</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Zia hall<br />
        RUET, Rajshahi.
    </p>
</section>